# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Jetbrains IDE settings
.idea/

# Local binary
/data-collector

# Env file
.env

# Local development neo4j data
db-data/

# MacOS
.DS_Store

# Camouflage Mock server
camouflage.log